In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("./credit_original.csv")
df.head()

In [ ]:
for column in df.columns.to_list():
    print(column,":")
    missing_count = df[column].isnull().sum()
    # print(missing_count)
    total_count = 38309
    # print(total_count)
    missing_percent = missing_count / total_count
    print(missing_percent)
    if(missing_percent>0.7):
        df = df.drop(column,axis=1)
        print("deleted\n")

In [ ]:
for column in df.columns.to_list():
    zero_count = len(df[df[column] == 0])
    print('%s, 零值：%d' % (column, zero_count))
    missing_percent = zero_count / 38309
    if(missing_percent > 0.7):
        df.drop(column,axis=1,inplace=True)
        print("deleted\n")

In [ ]:
for column in df.columns.to_list():
    print(column)
    zero_count = len(df[df[column] == 0])
    null_count = df[column].isnull().sum()
    missing_count = zero_count + null_count
    missing_percent = missing_count / 38309
    if(missing_percent > 0.7):
        df.drop(column,axis=1,inplace=True)
        print("deleted\n")

In [ ]:
df.to_csv("./credit_blank.csv")

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("./credit_blank.csv")
df

In [ ]:
for column in df.columns.to_list():
    if df[column].dtype == 'object':
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        df[column].fillna(df[column].median(), inplace=True)
df

In [ ]:
df.to_csv("./credit_fillna.csv")

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("./credit_fillna.csv")

In [ ]:
for column in df.columns.to_list():
    if df[column].dtype != 'object' and column != 'credit_level':
        print(column)
        if(column == 'credit_level'):
            print("error")
        if(column == 'uid'):
            print("error")
        low = df[column].quantile(0.05)
        high = df[column].quantile(0.95)
        # 使用clip方法替换小于5%和大于95%的值
        df[column] = df[column].clip(lower=low, upper=high)

In [ ]:
df.drop(columns='Unnamed: 0.1',axis=1,inplace=True)
df.drop(columns='Unnamed: 0',axis=1,inplace=True)
df

In [ ]:
df.to_csv("./credit_error_data.csv")

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_csv("./credit_error_data.csv",dtype=None)
print(df.dtypes)

In [ ]:
df['MODE(dm_v_tr_huanb_mx.tran_type)'] = pd.to_numeric(df['MODE(dm_v_tr_huanb_mx.tran_type)'],errors="coerce")
df['MODE(dm_v_tr_huanb_mx.tran_type)'] = df['MODE(dm_v_tr_huanb_mx.tran_type)'].astype(float)
print(df['MODE(dm_v_tr_huanb_mx.tran_type)'].unique())
df['MODE(dm_v_tr_huanb_mx.tran_type)'] = df['MODE(dm_v_tr_huanb_mx.tran_type)'].fillna(0.0)
print(df['MODE(dm_v_tr_huanb_mx.tran_type)'].unique())

In [ ]:

for column in df.columns.to_list():
    print(column)
    print(df[column].dtype)
    if column != 'uid' and df[column].dtype == 'object':
        print(column)
        encoder= LabelEncoder().fit(df[column])
        df[column] = encoder.transform(df[column])
df.head()

In [ ]:
df.to_csv("./credit_encoded.csv")

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
df = pd.read_csv("./credit_encoded.csv",dtype=None)
df_columns = df.columns.to_list()
df_columns.remove('uid')
df_columns.remove('credit_level')
print(df_columns)
df[df_columns] = scaler.fit_transform(df[df_columns])
df.head()

In [ ]:
df.drop('Unnamed: 0.1',axis=1, inplace=True)
df.drop('Unnamed: 0',axis=1, inplace=True)
df.to_csv("./credit_final.csv")

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./credit_final.csv")
df

,Unnamed: 0,uid,credit_level,COUNT(dm_v_tr_contract_mx),MAX(dm_v_tr_contract_mx.buss_amt),MAX(dm_v_tr_contract_mx.term_mth),MEAN(dm_v_tr_contract_mx.buss_amt),MEAN(dm_v_tr_contract_mx.term_mth),MIN(dm_v_tr_contract_mx.buss_amt),MIN(dm_v_tr_contract_mx.term_mth),...,SUM(dm_v_tr_gzdf_mx. is_secu_card),SUM(dm_v_tr_gzdf_mx. tran_amt),COUNT(dm_v_tr_sbyb_mx),MODE(dm_v_tr_sbyb_mx. tran_sts),NUM_UNIQUE(dm_v_tr_sbyb_mx. tran_sts),COUNT(pri_cust_liab_info),MAX(pri_cust_liab_info.all_bal),MEAN(pri_cust_liab_info.all_bal),MIN(pri_cust_liab_info.all_bal),SUM(pri_cust_liab_info.all_bal)
0,0,140922197806126391,-1,1.123142,0.939963,-0.331844,0.554726,-0.576317,-0.920444,-0.430715,...,-0.531118,-0.439538,-0.464234,-0.25887,-0.261501,-0.686540,-0.112559,-0.192058,-0.215765,-0.515526
1,1,142230198701044099,-1,-0.582244,0.329502,3.430277,0.638037,3.284679,1.094507,3.622202,...,-0.531118,-0.439538,-0.464234,-0.25887,-0.261501,1.565114,0.457392,0.757440,1.071325,1.468725
2,2,320511197112153312,60,-0.582244,1.618251,3.430277,2.220947,3.284679,1.992257,3.622202,...,-0.531118,-0.439538,3.817438,-0.25887,-0.261501,2.179201,2.336421,2.595417,2.726543,3.120927
3,3,320825197205134342,60,-0.582244,-0.735411,-0.331844,-0.669947,-0.117317,-0.471569,0.189630,...,-0.531118,-0.439538,-0.464234,-0.25887,-0.261501,2.032990,-1.322279,-1.237120,-1.312149,0.008800
4,4,320911195212301370,-1,-0.155897,1.753909,0.295176,2.387569,0.854681,1.992257,1.182181,...,-0.531118,-0.439538,-0.464234,-0.25887,-0.261501,-0.686540,-0.112559,-0.192058,-0.215765,-0.515526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38304,38304,654123198611223715,60,-0.582244,-0.077471,-0.331844,0.138171,-0.137567,0.496007,0.148273,...,-0.531118,-0.439538,-0.464234,-0.25887,-0.261501,-0.686540,-0.112559,-0.192058,-0.215765,-0.515526
38305,38305,654123199102253734,60,2.828528,0.600818,-0.331844,-0.791068,-0.126664,-0.920444,0.148273,...,-0.531118,-0.439538,-0.464234,-0.25887,-0.261501,-0.686540,-0.112559,-0.192058,-0.215765,-0.515526
38306,38306,654323197108173972,85,-0.155897,-0.552273,-0.331844,-0.445007,-0.144317,-0.202244,0.106917,...,-0.531118,-0.439538,-0.464234,-0.25887,-0.261501,-0.686540,-0.112559,-0.192058,-0.215765,-0.515526
38307,38307,654324198004269794,60,-0.155897,0.939963,-0.331844,1.387836,-0.117317,1.992257,0.189630,...,-0.531118,-0.439538,-0.464234,-0.25887,-0.261501,1.272691,1.758142,2.150453,2.643551,2.153051
38308,38308,654326198608203393,60,-0.582244,0.939963,-0.671480,1.387836,-1.008316,1.992257,-0.802921,...,0.043539,0.299877,-0.464234,-0.25887,-0.261501,0.483150,1.758142,2.150453,2.643551,1.077654